.navbar .navbar-brand {
	/* font-weight: 600; */
	margin: 5px 0px;
	padding: 0 15px;
	font-size: 20px;
}
.navbar .navbar-brand img {
	width: 60%;
	float: left;
}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #576373;
	border-color: #C5D0DC #C5D0DC transparent;
	border-top: 2px solid #cf2c6b;
	background-color: #FFF;
	z-index: 1;
	line-height: 18px;
	margin-top: -1px;
	box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, .15);
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight:normal;
}
.checkbox, .radio {
	position: relative;
	display: block;
	 margin-top: 0px; 
	 margin-bottom: 0px; 
}
.form_btn{
	background-color:#cf2c6b;
	color:#fff;
	padding:5px 10px;
	border:1px #cf2c6b solid;
	margin:20px 0 0 0;
}
.checkbox label, .radio label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;
	margin: 0 0 12px 0;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
	border:2px solid #cf2c6b;
	color: #cf2c6b;
	background-color: white;
	padding: 5px 20px;
	border-radius: 8px;
	font-size: 14px;
	font-weight: normal;
	cursor:pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}	

.pic_up_cont{
	padding: 0 0 0 188px;
	margin: 0 0 20px 0;
	font-weight: bold;
}
.pic_up_cont ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.pic_up_cont ul li {
	/* float: left; */
	width: 49%;
	display: inline-block;
}
.pic_up_cont ul li:last-child {

	padding: 0 0 0 21px;
}
.nav-tabs > li > a, .nav-tabs > li > a:focus {
	/*border-radius: 0 !important;*/
	border-color: #C5D0DC;
	background-color: #F9F9F9;
	color: #999;
	margin-right: -1px;
	line-height: 18px;
	position: relative;
	border-top-right-radius:10px!important;
	border-top-left-radius:10px!important;
}
.nav > li {
	position: relative;
	display: block;
	margin: 0 4px 0 0;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 5px 30px;
	font-weight: bold;
}