.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.stripped-table, .stripped-table th, .stripped-table td {
  border: 1px solid black;
}

@font-face {
  font-family: "AlexBrush-Regular";
  src: url(../src/fonts/AlexBrush-Regular.ttf);
}

@font-face {
  font-family: "ArielScript";
  src: url(../src/fonts/ArielScript.ttf);
}

@font-face {
  font-family: "Aerolite";
  src: url(../src/fonts/Aerolite.otf);
}

@font-face {
  font-family: "AeroliteItalic";
  src: url(../src/fonts/AeroliteItalic.otf);
}

@font-face {
  font-family: "Eutemia";
  src: url(../src/fonts/Eutemia.ttf);
}